.container {
    @include flex($dir: column);
    .article {
        @include flex($axis: flex-start, $dir: column);
        align-items: start;

        gap: 24px;
        margin-top: 20px;

        width: 100%;
        max-width: 1000px;
        min-height: calc(100vh - $headerHeight - $footerHeight);

        .info {
            width: 100%;
        }

        .section {
            display: flex;

            width: 100%;

            gap: 16px;
            .main {
                .navbar {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    @include shadow;
                    padding: 10px;
                    border-radius: 8px;
                    margin-bottom: 10px;
                    background-color: white;
                    span {
                        font-weight: 700;
                    }
                }
                width: 80%;
            }
        }
    }
}
