.container {
    @include flex($dir: column);
    .article {
        @include flex($axis: flex-start);
        align-items: start;

        gap: 24px;
        margin-top: 20px;

        width: 100%;
        max-width: 1000px;
        height: 100vh;

        .info {
            width: 100%;
        }
    }
}
