$padding: 15px;
$margin: 10px 0;
.container {
    width: 100%;

    .article {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        max-width: 1000px;
        min-height: calc(100vh - $headerHeight - $footerHeight);

        padding: 20px;
        margin: 0 auto;
        margin-top: 20px;

        .card {
            margin-top: 10px;
            width: 100%;

            background-color: white;
            @include shadow;
            border-radius: $border-radius;
            .cardBody {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: $padding;
                .title {
                    font-size: 1.5rem;
                    font-weight: bold;
                    margin-bottom: 20px;
                    color: $text-color;

                    &__text {
                        display: inline-block;
                    }
                }
                .inputContainer {
                    display: flex;
                    gap: 10px;
                    flex: 1;
                    .commentInput {
                        border-radius: $border-radius;
                        width: 100%;
                        padding: 10px;
                        border: 1px solid rgba(0, 0, 0, 0.4);
                        resize: none;
                        overflow-y: scroll;
                    }
                    .submitButton {
                        background-color: $mainColor;
                        border: none;
                        border-radius: $border-radius;
                        color: white;
                        font-weight: 700;
                        text-wrap: nowrap;
                        padding: 10px 20px;
                    }
                }
            }
        }

        .section {
            width: 100%;

            background-color: white;
            @include shadow;
            border-radius: $border-radius;
            .head {
                display: flex;

                width: 100%;

                padding: 10px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.4);

                .title {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    flex: 1;

                    &__sub {
                        font-size: 14px;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    &__text {
                        flex: 1;
                        font-size: 24px;
                        font-weight: 800;
                    }
                }

                .info {
                    text-align: end;
                    color: gray;
                    font-size: 14px;
                    font-weight: 300;
                }
            }
            .content {
                padding: 20px;

                height: fit-content;

                .like {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    padding: 20px;

                    &__text {
                        width: 50px;
                        height: 50px;

                        border-radius: 100%;

                        background-color: $mainColor;
                        color: white;
                        font-size: 18px;
                        font-weight: 800;
                        text-align: center;
                        line-height: 50px;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    &__count {
                        padding: 20px;
                        font-size: 18px;
                        font-weight: 800;
                        &::before {
                            content: '👍';
                        }
                    }
                }
            }
        }

        .commentSection {
            width: 100%;

            margin: $margin;
            padding: $padding;
            background-color: $background-color;
            border-radius: $border-radius;
            box-shadow: $box-shadow;

            .title {
                font-size: 1.5rem;
                font-weight: bold;
                margin-bottom: 20px;
                color: $text-color;

                &__text {
                    display: inline-block;
                }
            }

            .comments {
                list-style: none;
                padding: 0 20px;
                margin: 0;
                @for $i from 0 to 20 {
                    .depth#{$i} {
                        padding-left: 20px * $i;
                        @if $i > 4 {
                            padding-left: 20px * 4;
                        }
                        @if $i > 0 {
                            &::before {
                                content: '↪';
                            }
                        }
                    }
                }

                &__item.focusedComment {
                    background-color: yellow;
                }
                &__box {
                    width: 100%;
                }
                &__item__container {
                    display: flex;
                    flex-direction: row;
                    padding: 5px 0;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                    margin-bottom: $margin;
                    min-height: 60px;
                    width: 100%;
                    &__info {
                        display: flex;
                        gap: 5px;
                    }

                    .nickname {
                        font-size: 1rem;
                        font-weight: bold;
                        color: $primary-color;
                        margin-bottom: 5px;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .content {
                        flex: 1;
                        font-size: 1rem;
                        color: $text-color;
                        margin-bottom: 10px;
                        word-wrap: break-word;
                        word-break: break-all;
                        white-space: normal;
                    }

                    .date {
                        font-size: 0.875rem;
                        color: $text-color;
                        margin-bottom: 10px;
                    }

                    .delete,
                    .edit,
                    .reply {
                        font-size: 0.875rem;
                        color: $secondary-color;
                        cursor: pointer;
                        margin-right: 10px;
                        transition: color 0.3s;

                        &:hover {
                            color: darken($secondary-color, 10%);
                        }

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}
@keyframes blink {
    0% {
        background-color: $mainColor;
        opacity: 0.6;
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: $mainColor;
        opacity: 0.6;
    }
}

.blink {
    animation: blink 1s ease-in-out;
}
