.container {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    .section {
        display: flex;

        gap: 10px;
        max-width: 1000px;

        padding-top: 30px;
        .article {
            display: flex;
            flex-direction: column;

            flex: 1;
            gap: 24px;

            &__cards {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

                gap: 16px;
            }
        }
        .aside {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}
