.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 8px 16px;
    height: $headerHeight;

    background-color: white;
    .begin {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        gap: 16px;

        .logo {
            font-weight: 700;
            font-size: 24px;
            color: $mainColor;
            &:hover {
                cursor: pointer;
            }
        }
        .nav {
            display: flex;

            gap: 8px;
        }
    }
    .end {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        gap: 16px;
    }

    button {
        font-size: 16px;
        background-color: transparent;
        border: none;

        &:hover {
            cursor: pointer;
        }
        &:active {
            color: #808080;
        }
    }
}
